.view {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(to bottom, $color-darker 0, $color-dark 500px);
}

.container {
  // max-width: 1100px;
}

strong {
  font-weight: 700;
}

a {
  color: $color-link;
  transition: color 0.3s ease;
  // text-decoration: none;

  &:hover,
  &:active {
    color: $color-link;
    // text-decoration: none;
  }

  &:focus {
    color: $color-link;
    // text-decoration: none;
  }

  // &[href^='tel:'] {
  // }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: $font-family-secondary;
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
  color: $color-white;
}

h2.heading-decor,
h3.heading-decor,
h4.heading-decor,
h5.heading-decor,
h6.heading-decor {
  position: relative;
  margin-top: 1em;
  margin-bottom: 1.5em;

  &::before {
    content: '';
    position: absolute;
    bottom: -0.8em;
    right: 50%;
    @include translateX(50%);
    display: block;
    width: 3em;
    height: 0.1em;
    background-color: currentColor;
  }
}

h1,
.h1 {
  margin-top: 0.5em;
  margin-bottom: 0.4em;
  font-size: 3.2rem;

  @include media-min('md') {
    font-size: 4.2rem;
  }
}
h2,
.h2 {
  font-size: 3rem;

  @include media-min('md') {
    font-size: 3.4rem;
  }
}
h3,
.h3 {
  font-size: 2.4rem;

  @include media-min('md') {
    font-size: 2.8rem;
  }
}
h4,
.h4 {
  font-size: 2.2rem;

  @include media-min('md') {
    font-size: 2.4rem;
  }
}
h5,
.h5 {
  font-size: 2rem;
}
h6,
.h6 {
  font-size: 1.8rem;
}

.block-item {
}

.content-main {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;

  @include media-min('md') {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
