/* shame */
.cc_banner-wrapper {
  height: 65px !important;
  background-color: $color-darker !important;
}
.cc_container {
  padding-bottom: 18px !important;
  background-color: $color-darker !important;
  color: tint($color-darker, 80%) !important;
}
.cc_container .cc_btn,
.cc_container .cc_btn:visited {
  background-color: $color-primary !important;
  color: $color-white !important;

  &:hover{
    background-color: shade($color-primary, 20%) !important;
  }
}

/* seznam retargeting */
iframe[src^="//c.imedia.cz/"] {
  position: absolute;
  top: 0;
  left: -999em;
  z-index: -1000;
  background: transparent;
  border: none;
}

/* NEXTGEN GALLERY */
.sl-wrapper.simple-lightbox {
  z-index: 100055;
}
