// woocommerce breadcrumb
.breadcrumb {
  display: block;
  margin-bottom: 24px;
}

.breadcrumb ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.breadcrumb ul li {
  font-size: 1.2rem;
  color: $color-grey;
  white-space: nowrap;

  & + li {
    &::before {
      content: '/';
      display: inline-block;
      vertical-align: middle;
      padding: 0 5px;
    }
  }
}
.breadcrumb ul li a {
  font-size: 1.2rem;
  color: $color-grey;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
    color: #000;
  }
}
.breadcrumb ul li a,
.breadcrumb ul li .bread-current {
  display: inline-block;
  max-width: 220px;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
