body.page-home .view {
  background: {
    image:
      url('../img/dbgate-bg-decora-bluepurple.png'),
      linear-gradient(to bottom, $color-darker 0, $color-dark 500px);
    repeat: no-repeat;
    position:
      center -120px,
      center;
    size:
      100% auto,
      auto;
  }
}

/* --- intro --- */
.block-item.block-intro {
}
.block-item.block-intro img {
  box-shadow: 0 1.5rem 3rem 0 rgba($color-black, 0.8);
}
.block-item.block-intro .block-container {
  & h1,
  & p {
    text-shadow: 0 0 0.3em $color-dark;
  }
}

/* --- zigzag --- */
.block-item.block-zigzag {
  padding: 0;
  margin: 0;
}
.block-item.block-zigzag .zigzag-row {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.block-item.block-zigzag .zigzag-row .zigzag-col {
  align-content: center;
}
.block-item.block-zigzag .zigzag-row .zigzag-col h2 {
  margin-top: 0;
}

@include media-min('md') {
  .block-item.block-zigzag .zigzag-row .zigzag-col {
    &:nth-child(odd) {
      order: 0;
      text-align: right;
      & h2 {
        margin-top: 0;
        text-align: right;

        &::before {
          right: 0;
          left: auto;
          transform: none;
          background-color: $color-primary;
        }
      }
    }
    &:nth-child(even) {
      order: 1;
      text-align: left;
      & h2 {
        margin-top: 0;
        text-align: left;

        &::before {
          right: auto;
          left: 0;
          transform: none;
          background-color: $color-primary;
        }
      }
    }
  }
  .block-item.block-zigzag .zigzag-row:nth-child(even) .zigzag-col {
    &:nth-child(odd) {
      order: 1;
      text-align: left;
      & h2 {
        margin-top: 0;
        text-align: left;

        &::before {
          right: auto;
          left: 0;
          transform: none;
          background-color: $color-info;
        }
      }
    }
    &:nth-child(even) {
      order: 0;
      text-align: right;
      & h2 {
        margin-top: 0;
        text-align: right;

        &::before {
          right: 0;
          left: auto;
          transform: none;
          background-color: $color-info;
        }
      }
    }
  }
}

/* --- infotoggle --- */

.block-item.block-infotoggle {
}
.block-item.block-infotoggle .infotoggle-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.block-item.block-infotoggle .infotoggle-list .infotoggle-list-item {
  & + .infotoggle-list-item {
    margin-top: 0.3em;
  }
}
.block-item.block-infotoggle .infotoggle-list .infotoggle-list-item .infotoggle-list-item-label {
  position: relative;
  padding: 0;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 2.6rem;
  margin: 0;
  text-align: left;
  font-size: 2rem;
  // color: $color-semidark;
  color: $color-white;
  cursor: pointer;

  & .list-icon {
    position: absolute;
    left: 0;
    top: 0.8rem;
    color: $color-semidark;
  }
}
.block-item.block-infotoggle .infotoggle-list .infotoggle-list-item .infotoggle-list-item-info {
  display: none;
  padding-left: 2.6rem;
  font-size: 0.8em;
  color: $color-semidark;

  & p {
    margin: 0;
  }
}
.block-item.block-infotoggle .infotoggle-list .infotoggle-list-item.active {
  & .infotoggle-list-item-label {
    & .list-icon {
      color: $color-primary;
    }
  }
}
.block-item.block-infotoggle .infotoggle-list .infotoggle-list-item.initialActive {
  & .infotoggle-list-item-label {
    color: $color-white;

    & .list-icon {
      color: $color-primary;
    }
  }
  & .infotoggle-list-item-info {
    display: block;
  }
}

.block-item.block-infotoggle .infotoggle-content {
}
.block-item.block-infotoggle .infotoggle-content .infotoggle-content-item {
  display: none;
  // opacity: 0;
  // visibility: hidden;

  &.active {
    display: block;
    // opacity: 1;
    // visibility: visible;
    // transition: {
    //   delay: 1s;
    //   duration: 0.5s;
    //   property: opacity;
    //   timing-function: ease-in;
    // }
  }
}

.block-item.block-pricing {
  background: {
    image: url('../img/dbgate-bg-decora-bluepurple2.png');
    repeat: no-repeat;
    position: center center;
    size: 100% auto;
  }
}
.block-item.block-pricing .pricing-item {
}
.block-item.block-pricing .pricing-item .pricing-item-in {
  position: relative;
  height: 100%;
  border: 1px solid $color-white;
  padding-top: 2rem;
  padding-bottom: 8rem;
  padding-right: 2rem;
  padding-left: 2rem;
  background-color: rgba($color-dark, 0.7);
}
.block-item.block-pricing .list-simple-pricing {
  padding: 0;
  margin: 0;
  list-style: none;

  & li {
    position: relative;
    padding: 0;
    padding-left: 1.6em;
    margin: 0;
    text-align: left;
    font-size: 1.4rem;

    & .list-icon {
      position: absolute;
      left: 0;
      top: 0.35em;
    }
  }
}
.block-item.block-pricing .pricing-item .pricing-item-in .pricing-item-btn {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  margin-bottom: 2rem;
}

/* --- news --- */

.block-item.block-news {
}
.block-item.block-news .news-item {
}
.block-item.block-news .news-item .news-item-in {
  display: block;
  position: relative;
  height: 100%;
  padding: 2rem;
  padding-bottom: 4rem;
  background-color: tint($color-dark, 5);
  text-decoration: none;
  cursor: pointer;
}
.block-item.block-news .news-item .news-item-in .news-item-heading {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: $color-white;
  text-align: left;
}
.block-item.block-news .news-item .news-item-in p {
  font-size: 1.4rem;
  color: $color-grey;
}
.block-item.block-news .news-item .news-item-in .news-item-more-info {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-size: 1.2rem;
  color: $color-grey;
}

/* --- footer --- */

.block-item.block-footer {
  background: {
    image: url('../img/dbgate-bg-decora-bluepurple-03.png'); // dbgate-bg-decora-bluepurple.png
    repeat: no-repeat;
    position: center top;
    size: 100% auto;
  }
}

.block-item.block-footer {
  text-shadow: 0 0 0.5em $color-dark;

  & h3 {
  }

  & .footer-nav-heading {
    text-transform: uppercase;
    text-align: left;
  }

  & .footer-nav-items {
    & a {
      display: block;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      border: 0;
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
      background: none;
      color: $color-white;

      &:hover {
        color: $color-primary;
      }
    }
  }
}

.block-item.block-footer {
  & .footer-socials {
    & .footer-socials-list {
      text-align: center;

      & a {
        display: inline-block;
        padding: 0.3rem;
        margin: 0.5rem;
        font-size: 3.5rem;
        color: $color-semidark;
        text-shadow: 0 0 0.5em $color-black;

        &:hover {
          color: $color-white;
        }
      }
    }
  }
}

/* --- .simple-lightbox --- */
.sl-overlay {
  background-color: $color-dark;
}
.sl-wrapper .sl-close {
  color: $color-white;
  // background-color: $color-darker;

  &:hover {
    color: $color-primary;
  }
}
.sl-wrapper .sl-navigation button {
  color: $color-white;
  // background-color: $color-darker;

  &:hover {
    color: $color-primary;
  }
}
