// ar - banner
.ar-cookies-consent-banner {
  display: block;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  // top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2147483646;
  width: 100%;

  &.ar-ccb-show {
    visibility: visible;
    opacity: 1;
  }
}

.ar-cookies-consent-banner .ar-ccb-in {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba($color-dark, 0.9);
  color: $color-white;
  box-shadow: 0 15px 15px 15px rgba(0, 0, 0, 0.5);
}
.ar-cookies-consent-banner .ar-ccb-in .ar-ccb-content {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
.ar-cookies-consent-banner .ar-ccb-in .ar-ccb-content .ar-ccb-row {
  display: flex;
  flex-direction: column;

  @include media-min('md') {
    flex-direction: row;
  }
}

.ar-cookies-consent-banner .ar-ccb-in .ar-ccb-content .ar-ccb-row .ar-ccb-col {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;

  @include media-min('md') {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    padding-right: 2em;
    padding-left: 2em;
  }
}

.ar-cookies-consent-banner .ar-ccb-in .ar-ccb-content .ar-ccb-row .ar-ccb-info {
}

.ar-cookies-consent-banner .ar-ccb-in .ar-ccb-content .ar-ccb-row .ar-ccb-info .ar-ccb-info-in {
}

.ar-cookies-consent-banner .ar-ccb-in .ar-ccb-content .ar-ccb-row .ar-ccb-actions {
}
.ar-cookies-consent-banner
  .ar-ccb-in
  .ar-ccb-content
  .ar-ccb-row
  .ar-ccb-actions
  .ar-ccb-actions-in {
  display: flex;
  flex-direction: column;
}

.ar-cookies-consent-banner .ar-btn {
  display: inline-block;
  padding-top: 0.6em;
  padding-bottom: 0.5em;
  padding-right: 1.2em;
  padding-left: 1.2em;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
}

.ar-cookies-consent-banner .ar-btn.ar-btn-agree {
  background-color: $color-primary;
  color: $color-white;
  text-decoration: none;
  transition: background-color ease 0.3s;

  &:hover {
    background-color: shade($color-primary, 15%);
  }
}
.ar-cookies-consent-banner .ar-btn-opt {
  margin-top: 1em;
  color: $color-white;

  &:hover {
    text-decoration: none;
  }
}

// ar - modal
html.ar-cookies-consent-opt-open {
  overflow: hidden;

  & body {
    overflow: hidden;
  }
}
.ar-cookies-consent-opt-modal {
  background-color: rgba($color-dark, 0.8);
  display: flex;
  visibility: hidden;
  opacity: 0;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2147483647;
  overflow: auto;
  font-size: 1.6rem;

  &.ar-ccom-show {
    visibility: visible;
    opacity: 1;
  }
}

.ar-cookies-consent-opt-modal .ar-btn {
  display: inline-block;
  padding-top: 0.6em;
  padding-bottom: 0.5em;
  padding-right: 1.2em;
  padding-left: 1.2em;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  white-space: nowrap;
  text-align: center;
  line-height: 1.2;
  cursor: pointer;
}

.ar-cookies-consent-opt-modal .ar-btn.ar-btn-agree {
  background-color: $color-primary;
  color: $color-white;
  text-decoration: none;
  transition: background-color ease 0.3s;

  &:hover {
    background-color: shade($color-primary, 15%);
  }
}

.ar-cookies-consent-opt-modal .ar-btn.ar-btn-save {
  border: 1px solid $color-primary;
  background-color: transparent;
  color: $color-primary;
  text-decoration: none;
  transition: background-color ease 0.3s;

  &:hover {
    border-color: shade($color-primary, 15%);
    color: shade($color-primary, 15%);
  }
}

.ar-cookies-consent-opt-modal .ar-cco-modal-dialog {
  position: relative;
  width: 70rem;
  max-width: calc(100% - 1rem);
  padding: 2rem;
  border-radius: 0.5rem;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: $color-white;
  color: $color-dark;
}

.ar-cookies-consent-opt-modal .ar-cco-modal-dialog .ar-cc-opt-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 100;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.3rem;
  transform: rotate(45deg);
  cursor: pointer;
  font-size: 0;
  color: $color-dark;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 50%;
    width: 2rem;
    height: 0.2rem;
    background-color: $color-dark;
    transform: translate(50%, -50%);
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 50%;
    width: 0.2rem;
    height: 2rem;
    background-color: $color-dark;
    transform: translate(50%, -50%);
  }
}

.ar-cookies-consent-opt-modal .ar-cc-info-general {
}
.ar-cookies-consent-opt-modal .ar-cc-info-general .ar-ccig-heading {
  font-size: 1.4em;
  font-weight: 700;
}
.ar-cookies-consent-opt-modal .ar-cc-info-general .ar-ccig-info {
}

.ar-cookies-consent-opt-modal .ar-cco-content {
}
.ar-cookies-consent-opt-modal .ar-cco-content .ar-cco-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 0;

  & + .ar-cco-row {
    margin-top: 1rem;
  }
}

.ar-cookies-consent-opt-modal .ar-cco-content .ar-cco-row .ar-cco-info {
  flex: 1;
  padding-right: 1rem;
}
.ar-cookies-consent-opt-modal .ar-cco-content .ar-cco-row .ar-cco-info .ar-cco-label {
  font-weight: 700;
  font-size: 1.1em;
}
.ar-cookies-consent-opt-modal .ar-cco-content .ar-cco-row .ar-cco-info .ar-cco-descr {
}

.ar-cookies-consent-opt-modal .ar-cco-content .ar-cco-row .ar-cco-opt {
}

.ar-cookies-consent-opt-modal .ar-cco-modal-dialog .ar-cco-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
