// form
.form-control {
  font-size: 1.6rem;
}

.contact-form {
}
.contact-form .modal-dialog .modal-content {
  //   border: 0;
}
.contact-form .modal-dialog .modal-content .modal-header {
  padding-right: 2rem;
  padding-left: 2rem;
}
.contact-form .modal-dialog .modal-content .modal-header .modal-title {
  font-weight: 500;
  font-size: 2rem;
}
.contact-form .modal-dialog .modal-content .modal-header .close {
  font-size: 2rem;
  margin: -0.5rem -1rem -0.5rem auto;
}
.contact-form .modal-dialog .modal-content .modal-body {
  padding: 2rem;
}
.contact-form .modal-dialog .modal-content .modal-body form {
}
.contact-form .modal-dialog .modal-content .modal-body .cf-wrapper {
}
.contact-form .modal-dialog .modal-content .modal-body .cf-wrapper .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.contact-form .modal-dialog .modal-content .modal-body .cf-wrapper .form-group .form-label {
}
.contact-form
  .modal-dialog
  .modal-content
  .modal-body
  .cf-wrapper
  .form-group
  .wpcf7-form-control-wrap {
}
.contact-form
  .modal-dialog
  .modal-content
  .modal-body
  .cf-wrapper
  .form-group
  .wpcf7-form-control-wrap
  .form-control {
}
