<!DOCTYPE html>
<html data-bs-theme="dark" itemscope itemtype="http://schema.org/WebSite">

<head>
  {{ partial "head.html" . }}
</head>

<body class="page-home">
  <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKQLWP47" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div class="view">
    {{ partial "header.html" . }}

    {{ block "main" . }}{{ end }}

    {{ partial "footer.html" . }}
  </div>
</body>

</html>