{{ define "main" }}


<h1>Features</h1>



<div class="block-item block-zigzag content-main" data-section="featues">
    <div class="block-container container">

        {{ range $index, $page := $.Pages }}

        <div class="row gx-5 gy-5 zigzag-row">
            <div class="col-md-6 zigzag-col">
              <a class="lightbox" href="/img/themeshots/{{ $page.Params.themeshot }}-dark.png" rel="tehemshot-features">
                <img class="img-fluid" src="/img/themeshots/{{ $page.Params.themeshot }}-dark.png" alt="dbgate prtscreen" />
              </a>
             </div>
            <div class="col-md-6 zigzag-col">
              <h2 class="heading-decor">{{$page.Params.title}}</h2>
              <p>
                {{$page.Params.description}}
              </p>
              <a href="{{ $page.Permalink }}">More info</a>
            </div>
          </div>

        {{ end }}
    </div>
</div>


{{ end }}
