{{ define "main" }}


<h1>News</h1>


<div class="block-item block-news content-main" data-section="featues">
  <div class="block-container container">
    <div class="row mt-1 gx-2 gy-2">

      {{ range (where $.Site.RegularPages "Section" "news") }}


      <div class="col-md-4 news-item">
        <a class="news-item-in" href="{{ .RelPermalink }}">
          <h3 class="news-item-heading">{{.Params.title}}</h3>
          <p class="news-item-date">{{ .Date.Format "2006-01-02" }}</p>
          <p>
            {{.Params.description}}
          </p>
          <span class="news-item-more-info">...more info</span>
        </a>
      </div>
      {{ end }}

    </div>
  </div>
</div>



{{ end }}
