<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NKQLWP47');</script>
    <!-- End Google Tag Manager -->
    
<!-- <base target="_self" href="https://dbgate.io/"> -->

<title>DbGate: SQL+noSQL database manager</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="theme-color" content="#333">

<meta name="description" content="Cross-platform database client and SQL editor for MySQL, SQL Server, Oracle, PostgreSQL, SQLite, MongoDB, Redis, Clickhouse, CosmosDB. Fast, modern and open-source.">
<meta name="keywords" 
      content="dbgate, database management, SQL client, PostgreSQL, MySQL, MariaDB, SQL Server, MongoDB, SQLite, web-based database GUI, open source database tool, data exploration, data analysis, SQL queries, cross-platform DB management, database admin, developer tool">
<meta name="robots" content="index,follow,NOODP">
<meta name="author" content="skrcenyz">

<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
<meta name="format-detection" content="telephone=no">

<meta property="og:url" content="https://dbgate.io/">
<meta property="og:type" content="website">
<meta property="og:title" content="DbGate: SQL+noSQL database manager">
<meta property="og:description" content="Cross-platform database client and SQL editor for MySQL, SQL Server, Oracle, PostgreSQL, SQLite, MongoDB, Redis, Clickhouse, CosmosDB. Fast, modern and open-source.">
<meta property="og:image" content="https://dbgate.io/img/dbgate-logo-1000x1000-001.jpg">

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="DbGate: SQL+noSQL database manager">
<meta name="twitter:description" content="Cross-platform database client and SQL editor for MySQL, SQL Server, Oracle, PostgreSQL, SQLite, MongoDB, Redis, Clickhouse, CosmosDB. Fast, modern and open-source.">
<meta name="twitter:image" content="https://dbgate.io/img/dbgate-logo-1000x1000-001.jpg">
<meta name="twitter:site" content="@db_gate">

<link rel="shortcut icon" type="image/png" sizes="192x192" href="/favicon.png?0.0.4"/>

<link rel="canonical" href="https://dbgate.io/" />

<!-- mobile "app" -->
<link rel="manifest" href="/manifest.json">
<link rel="home" href="/">
<!-- mobile device -->
<meta name="application-name" content="DbGate">
<meta name="mobile-web-app-capable" content="no">
<!-- apple device -->
<link rel="apple-touch-icon" sizes="192x192" href="/img/dbgate-logo-512x512.png?0.0.4">
<link rel="apple-touch-startup-image" href="/img/dbgate-logo-512x512.png?0.0.4">
<meta name="apple-mobile-web-app-title" content="DbGate">
<meta name="apple-mobile-web-app-capable" content="no">
<meta name="apple-mobile-web-app-status-bar-style" content="#333">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
