<div id="top-navigation-wrapper" class="main-navbar fixed-top_ top-navigation-wrapper sticky">
    <nav class="navbar-main navbar navbar-expand-lg">
        <div class="container navbar-main-container">
            <a class="navbar-brand" href="/">
                <img class="navbar-logo" src="/img/LOGO-B-simple-gradient.svg" alt="DbGate - logo" itemprop="logo" />
                <!--<span class="navbar-brand-name">DbGate</span>-->
                <!--<svg viewBox="0 0 218.63495 52.003216" itemprop="logo">
            <use href="#dbgate-logo-gradient"></use>
          </svg>-->
            </a>

            <div id="main-nav-menu-drawer" class="offcanvas offcanvas-end justify-content-end_" tabindex="-1">
                <div class="offcanvas-header">
                    <!--<h5 class="offcanvas-title" id="offcanvasLabel">Navigation</h5>-->
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div id="main-nav-menu" class="collapse_ navbar-collapse_ justify-content-end_ offcanvas-body">
                    <ul class="navbar-nav justify-content-end ms-lg-auto">

                        <li class="nav-item align-items-center">
                            <a class="btn btn-primary ms-lg-2 mt-2 mt-lg-0 w-100" href="https://dbgate.io">DbGate web</a>
                        </li>

                        <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li> -->
                    </ul>

                </div>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle_="collapse" data-bs-toggle="offcanvas"
                data-bs-target="#main-nav-menu-drawer" aria-controls="main-nav-menu" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

        </div>
    </nav>
</div>