<p>
  Download the most recent stable version of DbGate. <br />
  Older releases or BETA versions could be found on
  <a href="https://github.com/dbgate/dbgate/releases" target="_blank"
    >github releases</a
  >
  page
</p>

{{ $items := .Site.Data.download }} {{ range $items }}
<div class="row mb-4">
  <!-- Static / disabled button column -->
  <div class="col-md-3">
    <button class="btn btn-secondary btn-lg w-100 me-3" disabled>
      <div>
        <i class="{{ .icon }} me-2"></i>
        {{ .text }}
      </div>
      {{ if .platform }}
      <div class="text-muted ms-2">{{ .platform }}</div>
      {{ end }}
    </button>
  </div>

  <!-- Dynamic items column -->
  <div class="col">
    <div class="row">
      {{ range .items }}
      <div class="col-md-4 mb-3">
        <a class="btn btn-primary btn-lg w-100" href="{{ .link }}">
          <div>
            <i class="{{ .icon }} me-2"></i>
            {{ .text }}
          </div>
          {{ if .platform }}
          <div class="text-muted ms-2">{{ .platform }}</div>
          {{ end }}
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
